NODE_ENV=development
PORT=3000
TIMEZONE=Europe/Istanbul

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=sinav_programi
DATABASE_LOGGING=false

JWT_SECRET=super-gizli-anahtar
JWT_EXPIRES_IN=12h
JWT_REFRESH_EXPIRES_IN=7d
